<div id="crash-detail">
  <div>
    <span id="crash-tags"></span>
    <span class="dropdown">
      <button class="btn btn-default dropdown-toggle"
              type="button"
              id="assign-tag"
              data-toggle="dropdown">
        Assign Tag
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="availableCrashTags">
      </ul>
    </span>
  </div>
  <div id="crash-download-container">
  </div>
  <table class="table table-striped" id="crash-detail-table">
    <thead>
      <tr>
        <th>Identifier</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <pre id="crash-detail-stack">
  </pre>
</div>
