<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/ss/simple-statistics.min.js"></script>
<script src="/bower/Chart.js/dist/Chart.js"></script>
<script src="/bower/underscore/underscore-min.js"></script>
<script src="/bower/moment/moment.js"></script>
<script src="/bower/grapnel/dist/grapnel.min.js"></script>
<script src="/bower/numeral/numeral.js"></script>
<script src="/local/js/stats.js"></script>
<script src="/local/js/color.js"></script>
<script src="/local/js/common.js"></script>
<script src="/local/js/publishers.js"></script>
<script src="/local/js/overview.js"></script>
<script src="/local/js/dashboard.js"></script>
