<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">First Runs / Downloads</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped" id="overview-first-run-table-desktop">
      <thead>
        <tr>
          <th>Desktop / Laptop Platforms</th>
          <th class="text-right">First Runs</th>
          <th class="text-right">Laptop %</th>
          <th class="text-right">%</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <table class="table table-striped" id="overview-first-run-table-mobile">
      <thead>
        <tr>
          <th>Mobile Platforms</th>
          <th class="text-right">Downloads</th>
          <th class="text-right">Mobile %</th>
          <th class="text-right">%</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ledger</h3>
  </div>
  <div class="panel-body">
    <span class="ledger-wallet-count" id="ledger-wallet-count"></span>
  </div>
</div>
