<div class="row">
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">First Runs / Downloads</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped" id="overview-first-run-table-desktop">
          <thead>
            <tr>
              <th>Desktop / Laptop Platforms</th>
              <th class="text-right">First Runs</th>
              <th class="text-right">Laptop %</th>
              <th class="text-right">%</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <table class="table table-striped" id="overview-first-run-table-mobile">
          <thead>
            <tr>
              <th>Mobile Platforms</th>
              <th class="text-right">Downloads</th>
              <th class="text-right">Mobile %</th>
              <th class="text-right">%</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ledger</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped" id="overview-ledger-table">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/dashboard#daily_publishers">Publishers</a></h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped" id="overview-publishers-table">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
	<ul id="publisher-platforms-nav-container" class="nav nav-tabs">
	</ul>
	<div style="height: 400px; overflow: scroll; padding: 10px;">
          <table class="table table-striped" id="details-publishers-table">
            <thead>
              <tr>
                <th>Publisher</th>
                <th>Rank/Subs</th>
                <th>Verified</th>
                <th>Authorized</th>
	      </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
	</div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Monthly Averages</h3>
      </div>
      <div class="panel-body">
        <div>
          <a href="#" id="monthly-averages-whats-this">Whats this?</a>
          <div style="display: none;" id="monthly-averages-instructions">
            <ol style="margin-top: 10px;">
              <li>Monthly active users (<i class="gtz">% change</i>)</li>
              <li>Average daily active users (<i class="gtz">% change</i>)</li>
              <li>Average daily new users (<i class="gtz">% change</i>)</li>
              <li>Average daily active users / Monthly active users (DAU/MAU)</li>
              <li>Monthly active users / Average daily new users (MAU/DNU)</li>
            </ol>
          </div>
        </div>
        <table class="table table-striped" id="monthly-averages-table">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
