<div id="addPromotionFormContainer" class="hidden">
  <div style="min-width: 250px">
    <div class="form-group" style="margin-bottom: 15px;">
      <label>Partner Identifier</label>
      <input type="text" id="addPromotionFormContainerPartner" class="form-control" placeholder="Partner Identifier" style="width: 100%;">
    </div>
    <div class="form-group" style="margin-bottom: 15px;">
      <label>Promotion Identifier (ref)</label>
      <input type="text" id="addPromotionFormContainerRef" class="form-control" placeholder="Promotion Identifier" style="width: 100%">
    </div>
    <div class="form-group" style="margin-bottom: 15px;">
      <label>Description</label>
      <input type="text" id="addPromotionFormContainerDescription" class="form-control" placeholder="Description" style="width: 100%">
    </div>
    <div class="form-group" style="margin-bottom: 15px;">
      <label>Platform</label>
      <div>
        <select class="form-control" id="addPromotionFormContainerPlatform">
        </select>
      </div>
    </div>
    <div>
    <button id="addPromotionOk" class="btn btn-primary">Ok</button>
    <button id="addPromotionCancel" class="btn btn-default">Cancel</button>
    </div>
  </div>
</div>

<div id="retentionMonthTableContainer">
</div>
