<div class="input-group">
  <input type="text" class="form-control" id="searchText" placeholder="Enter crash details">
</div>

<div id="searchResults">
  <div id="searchComments" class="alert alert-info" style="margin-top: 10px;"></div>
  <table class="table table-striped" id="search-results-table">
    <thead>
      <tr>
        <th></th>
        <th>Id</th>
        <th>Electron</th>
        <th>Version</th>
        <th>YMD</th>
        <th>Platform</th>
        <th>O/S</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
