<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="#overview" id="mnOverview">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#usage_month_agg" id="mnUsageMonthAgg">Monthly Active Users (MAU)</a></li>
    <li><a href="#usage_month" id="mnUsageMonth">Monthly Active Users by Platform (MAU)</a></li>
    <li><a href="#usage_agg" id="mnUsageAgg">Daily Active Users (DAU)</a></li>
    <li><a href="#usage" id="mnUsage">Daily Active Users by Platform (DAU)</a></li>
    <li><a href="#usage_returning" id="mnUsageReturning">Daily Returning Active Users by Platform (DAU)</a></li>
    <li><a href="#versions" id="mnVersions">Daily Active Users by Version (DAU)</a></li>
    <li><a href="#daily_new" id="mnDailyNew">Daily New Users by Platform (DNU)</a></li>
    <li><a href="#daily_usage_stats" id="mnDailyUsageStats">Daily Usage Stats</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="#eyeshade" id="mnEyeshade">Daily Ledger Wallets</span></a></li>
    <li><a href="#eyeshade_funded" id="mnFundedEyeshade">Daily Ledger Funded Wallets</span></a></li>
    <li><a href="#eyeshade_funded_percentage" id="mnFundedPercentageEyeshade">Daily Ledger Funded Wallets Percentage</span></a></li>
    <li><a href="#eyeshade_funded_balance" id="mnFundedBalanceEyeshade">Daily Ledger Funded Wallets Balance</span></a></li>
    <li><a href="#eyeshade_funded_balance_average" id="mnFundedBalanceAverageEyeshade">Daily Ledger Funded Wallets Balance Average</span></a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="#search" id="mnSearch">Search Crashes</span></a></li>
    <li><a href="#top_crashes" id="mnTopCrashes">Top Crash Reasons</a></li>
    <li><a href="#recent_crashes" id="mnRecentCrashes">Recent Crashes</a></li>
    <li><a href="#crash_ratio" id="mnCrashRatio">Crash Ratios</a></li>
    <li><a href="#crashes_platform" id="mnCrashes">Daily Crashes by Platform</a></li>
    <li><a href="#crashes_platform_version" id="mnCrashesVersion">Daily Crashes by Version</a></li>
  </ul>
</div>
