<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">

    <div class="input-group" style="padding: 8px;">
      <input type="text" class="form-control" id="searchLinks" placeholder="Filter...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="clearSearchLinks"><i class="fa fa-times" aria-hidden="true"></i></button>
      </span>
    </div>

    <li><a href="#overview" id="mnOverview">Overview <span class="sr-only">(current)</span></a></li>

    <li><a href="#usage_month_agg" id="mnUsageMonthAgg">Monthly Active Users (MAU)</a></li>
    <li><a href="#usage_month" id="mnUsageMonth">Monthly Active Users by Platform (MAU)</a></li>
    <li><a href="#usage_month_average_agg" id="mnUsageMonthAverageAgg">Monthly Average Daily Active Users (MAU/DAU)</a></li>
    <li><a href="#usage_month_average" id="mnUsageMonthAverage">Monthly Average Daily Active Users by Platform (MAU/DAU)</a></li>
    <li><a href="#usage_month_average_new_agg" id="mnUsageMonthAverageNewAgg">Monthly Average Daily New Users (MAU/DNU)</a></li>
    <li><a href="#usage_month_average_new" id="mnUsageMonthAverageNew">Monthly Average Daily New Users by Platform (MAU/DNU)</a></li>

    <li><a href="#usage_agg" id="mnUsageAgg">Daily Active Users (DAU)</a></li>
    <li><a href="#usage" id="mnUsage">Daily Active Users by Platform (DAU)</a></li>
    <li><a href="#usage_returning" id="mnUsageReturning">Daily Returning Active Users by Platform (DAU)</a></li>
    <li><a href="#versions" id="mnVersions">Daily Active Users by Version (DAU)</a></li>

    <li><a href="#daily_new" id="mnDailyNew">Daily New Users by Platform (DNU)</a></li>
    <li><a href="#daily_usage_stats" id="mnDailyUsageStats">Daily Usage Stats</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="#eyeshade" id="mnEyeshade">Daily Ledger Wallets</span></a></li>
    <li><a href="#eyeshade_funded" id="mnFundedEyeshade">Daily Ledger Funded Wallets</span></a></li>
    <li><a href="#eyeshade_funded_percentage" id="mnFundedPercentageEyeshade">Daily Ledger Funded Wallets Percentage</span></a></li>
    <li><a href="#eyeshade_funded_balance" id="mnFundedBalanceEyeshade">Daily Ledger Funded Wallets Balance</span></a></li>
    <li><a href="#eyeshade_funded_balance_average" id="mnFundedBalanceAverageEyeshade">Daily Ledger Funded Wallets Balance Average</span></a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="#search" id="mnSearch">Search Crashes</span></a></li>
    <li><a href="#top_crashes" id="mnTopCrashes">Top Crash Reasons</a></li>
    <li><a href="#recent_crashes" id="mnRecentCrashes">Recent Crashes</a></li>
    <li><a href="#development_crashes" id="mnDevelopmentCrashes">Development Crashes</a></li>
    <li><a href="#crash_ratio" id="mnCrashRatio">Crash Ratios</a></li>
    <li><a href="#crashes_platform" id="mnCrashes">Daily Crashes by Platform</a></li>
     <li><a href="#crashes_platform_version" id="mnCrashesVersion">Daily Crashes by Version</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="#daily_publishers" id="mnDailyPublishers">Daily Publishers</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="#telemetry_standard" id="mnTelemetryStandard">Telemetry</a></li>
  </ul>
</div>
