<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <body>
    {{> navbar }}
    <div class="container-fluid">
      <div class="row">
        {{> sidebar }}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" id="contentTitle">{{name}}</h1>
          <div class="content-subtitle" id="contentSubtitle"></div>

          {{> controls }}

          <div id="searchContent" style="display: none;">
            {{> searchContent }}
          </div>

          <div id="overviewContent" style="display: none;">
            {{> overviewContent }}
          </div>

          <div id="usageContent" style="display: none;">
            {{> usageContent }}
          </div>

          <div id="publisherContent" style="display: none;">
            {{> publisherContent }}
          </div>

          <div id="usageTelemetry" style="display: none;">
            {{> telemetryContent }}
          </div>

          <div id="statsContent" style="display: none;">
            {{> statsContent }}
          </div>

          <div id="topCrashContent" style="display: none;">
            {{> topCrashTable }}
            {{> crashListTable }}
            {{> crashDetail }}
          </div>

          <div id="crashRatioContent" style="display: none;">
            {{> crashRatioTable }}
            {{> crashRatioDetailTable }}
          </div>

          <div id="recentCrashContent" style="display: none;">
            {{> recentCrashListTable }}
          </div>

          <div id="developmentCrashContent" style="display: none;">
            {{> developmentCrashListTable }}
          </div>

        </div>
      </div>
    </div>
    {{> jsIncludes }}
  </body>
</html>
